:root {
  --primary-color: #ececec;
  --secondary-color: #9fd3c7;
  --tertiary-color: #385170;
  --font-color: #142d4c;
}

h2,
h3 {
  display: flex;
  justify-content: center;
  margin: 0px;
}
h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
h2 {
  font-size: 48px;
  display: flex;
  justify-content: center;
}
h3 {
  margin: 0px;
}

.info-links {
  display: flex;
  justify-content: center;
}
.about-link {
  color: black;
  padding: 15px;
  margin: 10px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  border: 3px solid var(--tertiary-color);
}
.contact-link {
  padding: 15px;
  margin: 10px;
  color: white;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  background-color: var(--tertiary-color);
}
.homepage-link {
  display: flex;
  color: var(--tertiary-color);
  justify-content: center;
}
.email-link {
  display: flex;
  font-size: 20px;
  justify-content: center;
  color: var(--tertiary-color);
  text-decoration: none;
}
.about-paragraph {
  display: flex;
  justify-content: space-evenly;
}

.about-paragraph p {
  padding: 20px;
  margin: 20px;
}

.launch-link {
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
}

.row {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 576px) {
  h1,
  h3 {
    text-align: center;
  }
  .contact-me {
    font-size: 35px;
  }
  .email-link {
    font-size: 16px;
  }
}

@media (max-width: 476px) {
  .about-image {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .launch-link {
    text-align: center;
    margin: auto;
    display: block;
    max-width: 70%;
  }
}
